body {
	background-color: $dark;
}

.buttons button::after, .buttons button::before, .tl_blocks .buttons button {
	background-image: url("https://raw.githubusercontent.com/dotvhs/telegraph-dark/master/icons.png");
}

.tl_article .tl_article_content code, .tl_article .tl_article_content pre {
	background-color: $code
}
.tl_article {
	::selection, ::-moz-selection {
		background: $blue;
	}
	aside, .tl_article_content aside {
		color: mix($text, $dark, 70%);
	}
	.tl_tooltip {
		background-color: $tooltip;
		.button_hover {
    	background-color: mix($blue, $tooltip, 40%);
		}
		button.active {
			background-color: $blue;			
		}
	}
	user-select: $blue;
	&.tl_article_edit {
		figcaption[data-placeholder] .editable_input {
			background-color: $dark;
		}
		[data-placeholder].empty::before, figcaption[data-placeholder].empty::after {
			color: rgba($text, 0.2);
		}
		[data-label] {
			&::after {
				color: rgba($text, 0.34);
				border-right: 1px solid rgba($text, 0.15);
			}
		}
		&.title_focused {
			[data-label].empty {
				&::after {
					color: rgba($text, 0.34);
					border-right: 1px solid rgba($text, 0.15); 
				}
			}
		}
	}
	.tl_article_content, .tl_article_content .ql-editor {
		color: #c8c4be;
		hr {
			&::after {
				border-color: #333739;
			}
		}
		blockquote {
			border-left: 3px solid $blue;
		}
	}
	.tl_article_header {
		color: $text;
	}
	address {
		color: #7d7c79;
	}
	a[href] {
		-webkit-tap-highlight-color: rgba($text, 0.44);
		border-bottom: 0.1em solid rgba($text, 0.7);
		color: mix($text, #fff, 85%);
	}
}
.button {
	color: $text;
	border: 2px solid $text;
	background-color: #1d2123;
}
